@reference '../../globals.css';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';
@import 'tailwindcss/utilities.css' source(none);

#nd-sidebar div:has(> [data-theme-toggle]:only-child) {
  width: fit-content;
  align-self: flex-start;
  margin-inline-start: calc(var(--spacing) * 2);
}

#nd-sidebar [data-theme-toggle]:only-child {
  border-inline-start-width: 0;
}
